modules and package

In [1]:
import math

In [2]:
math.ceil(2.4)

3

In [3]:
math.floor(2.4)

2

# built-in modules

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [5]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [6]:
try:
  f=open('testfile','w')
  f.write('test write this line')
except IOError:
  print("Error file not found")
else:
  print("Content written succesfully")
  f.close()

Content written succesfully

In [7]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [8]:
try:
  f=open("testfile","w")
  f.write("test write the same")
finally:
  print("always exceute finally exceuted block")

always exceute finally exceuted block

In [9]:
def askint():
  try:
    value=int(input("enter the integer value"))
  except:
    print("please enter interger value")
  finally:
    print("finally i exceuted")
    print(value)

In [10]:
askint()

enter the integer value5
finally i exceuted
5

In [11]:
def askint():
  try:
    value=int(input("enter the integer value"))
  except:
    print("please enter interger value")
    value=int(input("enter the integer value"))
  finally:
    print("finally i exceuted")
    print(value)

In [12]:
askint()

enter the integer valuer
please enter interger value
enter the integer value5
finally i exceuted
5

In [14]:
askint()

enter the integer value5
finally i exceuted
5

In [15]:
def askint():
  while 1:
    try:
      value=int(input("enter the intger value"))
    except:
      print("plase enter the integer value")
      continue
    else:
      print("yep thats an integer")
      break
    finally:
      print("finally  I excuted")
    print(value)

In [16]:
askint()

enter the intger valuesdf
plase enter the integer value
finally  I excuted
enter the intger valuegdg
plase enter the integer value
finally  I excuted
enter the intger valueewrw
plase enter the integer value
finally  I excuted
enter the intger value3
yep thats an integer
finally  I excuted

In [17]:
#!/bin/bash
import sqlite3

In [27]:
db=sqlite3.connect("mydatabase1.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(id int,name text,score int)")
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [28]:
db.commit()

In [31]:
result=db.execute("select * from grades1 order by id")
for row in result:
  print(row)
print('-'*60)

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [33]:
result=db.execute("select * from grades1 where score>=90")
for row in result:
  print(row)
print('-'*60)

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [34]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [35]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------